// {
//     "presets": [
//         "next/babel",
//          "@babel/preset-react"

//     ],
//     "plugins": []
// }

// {
//      "presets": ["next/babel"],

// }

{
  "presets": ["next/babel"],
  "plugins": []
}