@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
  color: rgb(255, 255, 255) !important;
} */
.card{
  background-color: #800044 !important;
}
.imgDiv {
  
  display: inline-grid;
  margin: 10px;
}
.imgDiv button {
  margin: 10px auto 0px auto;
  
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: unset !important;
  margin-block-end: unset !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: unset !important;
}
.rowx{
  display: table;
  width: 100%;

}
p{
  margin: unset !important;
  padding: unset !important;
}
.container {
  width: 90%;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}



button {
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  background-color: #ffbf00;
  color: white;
}



.imgGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px;
}


.sideAndMainBar{
    display: flex;

}
.sideAndMainBar .col80{
    padding-top: 70px;

}

.sidebar{
    position: fixed;
  top: 0;
  padding-top: 3em;
  left: 0;
  bottom: 0;
  width: 200px;
background-color:rgb(10, 9, 9);
}

.sidebar ul{
  padding: 4em 0;
}
.mainbar{
    width:  100%;
}


.col80{
    width: 100%;
   margin-left: 200px; /* Set margin to the width of the sidebar */

}
.pageProps{
    position: relative;
}

nav{
  padding-bottom: 0em !important;
  background-color: #000000 !important;
    padding-top: 0 !important;
    /* height: 4em; */
}
.dropdown_nav{
  background-color: white ;
}
.nav_dropdown_bg{
  border-color:unset !important;
}
.nft_home_col29_text h3 span{
  font-weight: 600 !important;
  color: #ffbf00 !important;
}
.nav_profile_image{
  margin: 0 !important;
}
aside .h-full .nav_ul{
  margin: 6em 0!important;
  color: white;
}
aside .h-full .nav_ul{
  color: white;
}
.AudioAlley {
  color: white;
}
.AudioAlley_logo{
  width: 30px;
}
.nav_item{
display: flex;
    color: white;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6em 0.2em;
}
.nav_item:hover {
  color: #ff6404 !important;
  font-size: 1.1;
}
.nav_svg{
  width: 20px;
  color: rgb(198, 198, 198);
}
.nav_span{
  padding-left: 0.3em;
  font-size: 1em !important;
  color: rgb(255, 255, 255);
}
.sideAndMainBar .col80 .secure{
    padding-top: 10px;
}

.secure{
  padding: 55px  3em 0;
      letter-spacing: 5px;
        line-height: 1.1;
  justify-content: left;
  background-image: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.sideAndMainBar .col80 .secure {
    padding-top: -100px !important;
}

.col80 .container-xxl .secure
{
  width: 100%;
}
.secure_ConnectButton{
  padding-top: 2em;
  
}
.secure h1{
  padding: 3em 0 0;
  font-size: 3em;
  color: white;
}
.secure p{
  font-size: 1.5em;
  color: white;
  
}
.secure h2{
  font-size: 7em;
  color: rgb(255, 119, 0);
  height: fit-content;
}
.secure h2 {
  background: #ffbf00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffbf00,
    #731b00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffbf00, #d52903);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}
.ju367vb0 {
    background: black !important;
    color: white !important;
}
.ju367vgo,
 .ju367vgu {
     color: white !important;
 
}
@media screen and (min-width: 1050px){
  .main_nav button {
    display:none !important;
  }
 
}
@media screen and (max-width: 1050px){
  .sidebar {
    display:none !important;
  }
  .sideAndMainBar{
    display: block;

  }
  .col80{
    width: 100% !important;
    margin-left: 2px;
  }
}

@media screen and (max-width: 1000px) {
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}